@media screen and (max-width: 992px) {

    h6{
        font-size: 50px;
    }

    .header-authore{
        width :100%;
    }


    .container-about-me {
        display: inline-block;
        width: 100%;
    }
    #header{
        width :100%;
    }
    .about-me {
        width: 100%;
        display: inline-block;
        /* float: left; */
        padding: 5px;
        font-size: 14px;
        background-size: cover;
    }
    .skills p {
        font-size: 14px;
    }

    #project1.gallery {
        width: 100%;
        background-size: cover;
    }

    #project2.gallery {

        width: 100%;
        background-size: cover;
    }

    #project3.gallery {

        width: 100%;
        background-size: cover;
    }

    #pf4.gallery {

        width: 100%;
        background-size: cover;
    }

    #pf5.gallery {

        width: 100%;
        background-size: cover;
    }

    #pf6.gallery {

        width: 100%;
        background-size: cover;
    } 

    
    nav label {
        display: block;
        text-align: right;
        line-height: 80px;
        margin-right: 25px;
        color: silver;
    }


    nav ul {
        display: none;

    }

    /* .menuicon{
        color:black;
    } */

    h6{
        /* font-size:15px; */
        font-weight: bold;
       
    }

    #rwdmenu:checked + ul {
        display: block;
        position: absolute;
        background-color: black;
        width: 30%;
        margin-left: 70%;
    }

    nav ul li {
        display: block;
    }

    .about-me p {
        text-align: center;
    }

    #contact {
        background-size: 100%;
        background-image: url(../img/backbackback.jpg);
        background-repeat: no-repeat;
    }

    .address {
        width: 100%;
        display: block;
        padding: 10px;

    }
    .address address {
        margin-left: auto;
        margin-right: auto;
        text-align: center;

    }
    .address .sm-icons {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .address form {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .pf-mask {
        background-color: rgba(42, 61, 79, 0.8);
        height: 100%;
        padding: 10px;
        opacity: 1;
        transition-duration: 0.5s;

    }

    .pf-border {
        position: relative;
        height: 100%;
        border: 1px solid #ffffff;
    }

    .pf-text {
        text-align: center;
        color: #ffffff;
    }


}