* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Dosis', sans-serif;
    color: pink ;
}

nav {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(../img/canva-background---pink-abstract-watercolour-painting-MAArUvhK5zY.jpg) ;
    z-index: 9999;
}

nav ul {
    text-align: center;
    padding-left: 0;
    line-height: 80px;
    margin: 0;
}

nav label,
#rwdmenu {
    display: none;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
}

nav ul li.rwd-menu {
    display: none;
}

nav ul li a {
    text-decoration: none;
    color: blue;
    font-weight: bolder;
}

a {
    color: pink;
}

#header {
    background-image: url(../img/tlo.jpg);
    background-size: 100%;
    background-size: cover;
    height: 100vh;
}

.header-author {
    font-family: 'Gruppo', sans-serif;
    color: blue; 
    position: absolute;
    width: 100%;
    top: 40%;
    text-align: center;
}

.header-author h1 {
    font-weight: lighter;
    font-size: 70px;
    color: blue;
    letter-spacing: 3px;
}

.header-author h2 {
    font-weight: 900;
    color: blue; 
    letter-spacing: 3px;
}

span {
    color: blue;
    font-weight: 800;
}

section#about-me {
    background-color: pink;
    color: blue;

    font-size: 18px;
    word-spacing: 3px;
}

section#about-me span{
    color: blue;
}


section#about-me h2#about-me-header {
    text-align: center;
    font-weight: 800;
}


.container-about-me {
    display: inline-block;
    width: 100%;
}

.container-about-me .about-me figure img{
    height:300px;
    width:250px;
    object-fit: cover;
}
.about-me {
    width: 50%;
    display: inline-block;
    float: right;
}

.about-me figure img {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #ffffff;
    border-radius: 5px;
}

.about-me p {
    text-align: left;
    padding: 10px;
}

h2 {
    margin-bottom: 30px;
}

.skills {
    text-align: center;
    font-size: 18px;
    background-color: violet;

}

p2{
    color: blue;
}

figcaption{
    color: blue;
}

h3{
    color: blue;
    font-size: 30px;
    font-weight: bold;
}

.skills-logo {}

.skills-logo figure {
    display: inline-block;
}

.skills-logo figure img:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.portfolio {
    text-align: center;
    margin-bottom: 30px;
    background-color: pink;
}

.portfolio-gallery {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
}

.gallery {
    height: 350px;
    width: 33.3333%;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pf1.gallery {
    background-image: url(../img/Wyvern-programming-languages-in-one.jpg);
}

#pf2.gallery {
    background-image: url(../img/Wyvern-programming-languages-in-one.jpg);
}

#pf3.gallery {
    background-image: url(../img/Wyvern-programming-languages-in-one.jpg);
}

#pf4.gallery {
    background-image: url(../img/Wyvern-programming-languages-in-one.jpg);
}

#pf5.gallery {
    background-image: url(../img/Wyvern-programming-languages-in-one.jpg);
}

#pf6.gallery {
    background-image: url(../img/Wyvern-programming-languages-in-one.jpg);
}

.pf-mask {
    background-color: rgba(24, 119, 149, 0.8);
    height: 100%;
    padding: 10px;
    opacity: 0;
    transition-duration: 0.8s;
}

.pf-border {
    position: relative;
    height: 100%;
    border: 1px solid #ffffff;
}

.pf-text {
    text-align: center;
    color: #ffffff;
}

.pf-mask:hover {
    opacity: 1;
}

.fa-link {
    color: #ffffff;
    font-size: 20px;
}

.fa-link:hover {
    color: #2C9FDD;
}

#contact {
    background-color: pink; 
    overflow: hidden;
    padding: 40px;
}

.address {
    width: 50%;
    display: inline-block;
    float: left;
    padding: 10px;
}

address {
    padding-left: 10px;
    font-style: normal;
    color: blue; 
    font-weight: lighter;
}

.sm-icons {
    color: blue ;
    font-size: 15px;
    margin-top: 10px;
}


/* .sm-icons:hover{
    color:#2C9FDD;
    transform: rotate(360deg);
    transition-duration: 0.6s;
} */


.sm-icons a {
    color: blue ;
}

i.fab {
    border: 1px solid blue;
    height: 30px;
    width: 30px;
    text-align: center;
    margin: 10px;
    line-height: 30px;
}

/* i.fab:hover {
    color: white;
    transform: rotate(360deg);
    transition-duration: 0.6s;
} */

form input,
textarea {
    width: 100%;
    margin: 5px 0;
    background-color: violet;
    border-radius: 5px;
    border: 0;
    height:  100px;
}

textarea::placeholder {
    color: blue;
}

form input {
    height: 35px;
    padding: 5px;
    background-color: violet;
    border: 0;
}

form input::placeholder {
    color: blue ;
}

#btn {
    height: 40px;
    width: 100px;
    background-color: violet;
    color: blue ;
    border: 1px solid violet;
    text-transform: uppercase;
    float: right;
}

span#mail {
    text-decoration: underline;
}

footer {
    background-image: url(../img/canva-background---pink-abstract-watercolour-painting-MAArUvhK5zY.jpg);
    height: 30px;
    margin: 0;
    color: blue;
    font-weight: 200;
    padding-left: 40px;
    line-height: 30px;
    text-align: center;
}

footer p {
    margin: 0;
    text-align: center;
}